   <!------------------ Contact Us Panel ------------------------------>
    <section class="clearFix message">
        <a href="/">&#8592; Back to Hyperion</a>
        <div class="contact">
            <h3>Contact Us</h3>
            <p>
                <img src="logos/InstagramLogo.png"><a href="https://www.instagram.com/hyperion_pgdav/?hl=en">/hyperion_pgdav</a>
            </p>
            <p>
                <img src="logos/FacebookLogo.png"><a href="https://www.facebook.com/PGDAVhyperion/">/PGDAVhyperion</a>
            </p>
            <p>
                <img src="logos/GmailLogo.png"><a href="mailto: hyperionsocpgdav@gmail.com">/hyperionsocpgdav</a>
            </p>
            <p style="font-weight: bold;">
                Address:
            </p>
            <p>
                P.G.D.A.V. College</br>
                Ring Road,</br>
                Nehru Nagar,</br>
                New Delhi- 110065</br>
                Telephone: 29832092</br>
                
            </p>
        </div>
    </section>
 