   <section class="clearFix notices">
        <a href="/">&#8592; Back to Hyperion</a>
        <h2>Notice Board</h2>
        <ul>
            <li><a href="">Registration for Aaghaz' 21 begins</a></li>
            <li><a href="https://hyperionpgdav.github.io/aaghaz21">Website for Aaghaz'21 launched</a></li>
            <li><a href="">Dates of Aaghaz'21 are 16th & 17th April, 2021</a></li>
            <li><a href="">Theme of Aaghaz'21 launched : Aviral - The Voyage Continues</a></li>
            <li><a href="">Dates of Aaghaz 2021 to be announced soon</a></li>
            <li><a href="">Launch of the Annual Magazine - Ankur</a></li>
            <li><a href="">Hyperion launched its new Webpage</a></li>
        </ul>    
           
        
    </section>